aioredis
alembic
black
boto3
celery
databases
email-validator
fastapi
flake8
gunicorn
httpx
isort
itsdangerous
Jinja2
kombu
loguru
mypy
passlib[bcrypt]
Pillow
psycopg2-binary
pydantic
python-dotenv
pytest
pytest-asyncio
python-jose
python-multipart
pytest-cov
uvicorn
SQLAlchemy
redis
sqlmodel
uvicorn[standard]